<% @page_title = "UserAuth | Login" %>

<div class= "Sign_Form">
  <h1>Log in</h1>
  
  <%= form_tag(:action => 'login_attempt') do %>
      <p>
       </br> <%= text_field_tag 'username_or_email', nil, :class => 'inputs', :placeholder => 'Username or Email'%>
      </p>
      <p>
      <%= password_field_tag 'login_password' , nil, :class => 'inputs', :placeholder => 'Password'%>
      </p>
      <%= submit_tag 'Submit', :class => 'myButton' %>
  <% end %>
</div>