<!-- HTML version of password reset email  -->
<h1>Cooking with Engineers</h1>
<p>Hi <%= @user.fname %></p>
<p>
Click link to reset password
</p>
<!-- Creates link using @user instance reset token and email -->
<%= link_to "Reset Password", edit_password_reset_url(@user.reset_token, 
                                                      email: @user.email) %>
