<!-- Form used for both new and editing comments -->
<div class="form">
<%= form_for @comment do |f| %>
  <p>
    <!-- Adds comment text to page hash -->
    <%= f.text_area :text, placeholder: "Comment" %>
  </p>
  <!-- Creates/Updates comment -->
  <p>
    <%= f.submit @btnText, class: "myButton" %>
  </p>
<% end %>
</div>