<!-- Form for editing and new recipes -->
<div class="recipe_entry">
  <%= form_for @recipe do |f| %>
    <p>
      <!-- Adds name to page hash -->
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <!-- Creates/Updates user recipe -->
      <%= f.submit @btnText, class: "myButton" %>
    </p>
  <% end %>
</div>