<div class="recipe_entry">
  <%= form_for [@user, @recipe] do |f| %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>