<!--############################################################################
# Displays a single recipe link with average user rating.
#############################################################################-->
<p>
  <%= recipe.user.username %>
  <%= link_to recipe.name, recipe, class: "recipe_entry" %>
  <%= "Average user rating: #{recipe.rating}" %>
</p>
<!-- Show modificaiton links -->
<%= render 'shared/mod_links', object: recipe %>