<% provide(:title, @page_title) %>
<h1>OMG IS THIS WORKING</h1>
<%= @recipes.count %>

<!-- Displays All recipes -->
<%= render @recipes %>
<p>
  <!-- Provide link to add a recipe if user is logged in -->
  <%= link_to 'Add Recipe', new_recipe_path, class: "myButton" if logged_in? %>
</p>