<div class="recipe_entry">
  <%= form_for ([@user, @user.recipes.build]) do |f| %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>
