<h1>
  <%= @recipe.name %>
</h1>
<div class="ingredients">
  <table>
    <tr>
      <th>Quantity</th>
      <th>Measurement</th>
      <th>Ingredient</th>
      <th>Additional Information</th>
    </tr>
    <%= render @recipe.recipe_ingredients %>
  </table>
  <%= link_to 'Add Ingredient', new_user_recipe_recipe_ingredient_path(@user, @recipe.id), class: "myButton" %>
</div>