<!-- Show number of users being followed and number of followers -->
<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    following
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
  </a>
   | 
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>