 <% provide(:title, @page_title ) %>
 <!-- Display error messages to user  -->
<div class="errors">
  <%= render 'shared/errors', object: @obj %>
</div>

<!-- User Application Helper to generate correct form -->
<div class="form">
  <%= render get_form %>
</div>