<!-- Form used for both new and editing ingredients -->
<%= form_for @ingredient do |f| %>
  <p>
    <%= f.text_field :name, placeholder: "Name" %>
  </p>
  <p>
    <%= f.submi @btnText, class: "myButton" %>
  </p>
<% end %>