<% @ingredients.each do |ing| %>
    <p>
        <%= ing.id %>
        <%= ing.name %>
        <%= link_to 'edit', edit_ingredient_path(ing) %>
        <%= link_to 'delete', ingredient_path(ing), method: :delete, 
                              data: { confirm: 'Are you sure?' } %>
    </p>
<% end %>