<!-- Form used for both new and editing measurements -->
<%= form_for @measurement do |f| %>
  <p>
    <%= f.text_field :name, placeholder: 'Name' %>
  </p>
  <p>
    <%= f.text_field :abbr, placeholder: 'Abbreviation' %>
  </p>
  <p>
    <%= f.submit @btnText, class: "myButton" %>
  </p>
<% end %>