<% provide(:title, @page_title) %>
<!--############################################################################
#  An automatic foreach loop is used to process the @measurements instance
#  variable.  The measurements are displayed by calling the show function
#  for each measurement.
#############################################################################-->
<table>
  <tr>
    <th>Name</th>
    <th>Abbreviation</th>
    <th>&nbsp</th>
  </tr>
  <%= render @measurements %>
</table>