<!-- Shows information for a single checklist item-->
<tr>
  <!-- Checklist description -->
  <td><%= checklist.description %></td>
  <!-- The comment -->
  <td><%= checklist.order %></td>
  <!-- Show modificaiton links -->
  <td><%= render 'shared/rmod_links', object: checklist %></td>
</tr>