<!-- Form used for both new and editing checklist items -->
<div class="form">
<%= form_for @checklist do |f| %>
  <p>
    <!-- Adds description to page hash -->
    <%= f.text_area :description, placeholder: 'Item' %>
  </p>
  <p>
    <!-- Adds order to page hash -->
    <%= f.number_field :order, placeholder: 'Order' %>
  </p>
  <!-- Creates/Edits checklist item -->
  <p>
    <%= f.submit @btnText, class: "myButton" %>
  </p>
<% end %>
</div>