<div class="errors">
    <% flash.each do |key, value| %>
        <%= content_tag(:div, class: "alert alert-#{key} alert-dismissable") do %>
            <%= value %>
        <% end %> 
    <% end %>
</div>